<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.ssm.dao.UserMapper">
    <select id="getUserById" resultType="User" parameterType="java.lang.Integer">
        SELECT
        *
        FROM user
        WHERE id = #{id}
    </select>
    <!-- 插入statement
        useGeneratedKeys：开启主键回写
        keyColumn：主键列名(既数据库表中的列名)
        keyProperty：主键对应的属性名（实体中的属性名）
        插入数据时，传过来的参数是一个对象，#{***}中的名字必须与对象中属性名一致
    -->
    <insert id="addUser"  parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user ( user_name, sex, date, age) VALUES ( #{userName}, #{sex}, #{date}, #{age})
    </insert>
</mapper>